.search-container {
  display: flex;
  align-items: center;
  background: rgba(3, 12, 18, 0.1);
  backdrop-filter: blur(12px) saturate(120%);
  -webkit-backdrop-filter: blur(12px) saturate(120%);
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  width: 360px;
  margin-left: 35px;
}

.input {
  background: rgba(25, 40, 50, 0);
  flex: 1;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
  color: azure;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-button {
  color: azure;
  font-family: var(--font-poppins), sans-serif;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
}

.search-icon {
  color: azure;
  display: flex;
  align-items: center;
}
