.currentCard {
  max-width: 500px;
  margin: 2rem 0 2rem 2rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.current h1 {
  margin: 0;
  font-size: 1.25rem;
  color: azure;
}
.current p {
  margin: 0.25rem 0;
  font-size: 1rem;
  opacity: 0.8;
  color: azure;
}
.currentTemp {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
  color: azure;
}
.currentDetails {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  color: azure;
}
.hourlyWrapper {
  margin-top: -170px;
}
.hourlyTitle {
  display: block;
  margin-left: 900px;
  margin-top: 10px;
  color: white;
}

.hourlyCard {
  background: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  margin-left: 900px;
  border-radius: 12px;
  padding: 0.5rem;
}

.hourlyItem {
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  min-width: 90px;
  list-style-type: none;
  gap: 0.75rem;
  padding: 0.4rem 0;
  font-size: 0.95rem;
  border-bottom: none;
  color: azure;
}

.hour {
  font-weight: 600;
  min-width: 64px;
}

.hourlyStat {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  opacity: 0.85;
  font-weight: 600;
  padding: 0 0.75rem;
}
.dailyWrapper {
  margin-right: 750px;
  margin-top: -50px;
}
.dailyTitle {
  position: relative;
  display: block;
  color: white;
}
.dailyCard {
  background: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);

  border-radius: 12px;
  padding: 1rem;
  display: flex;
  color: azure;
}
.dailyItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 90px;
  list-style-type: none;
  padding: 0.5rem;
  border-radius: 8px;
  gap: 0.75rem;
  padding: 0.4rem 0;
  font-size: 0.95rem;
  font-weight: 600;
}
.dailyStat {
  display: inline-flex;
  align-items: center;
  opacity: 0.85;
  font-weight: 600;
  padding: 0 0.75rem;
}
